/* vars */

:root {
  --clr-cta-btn: #0a033d;
}

/* reset */
*,
*:before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* utility classes */

.container {
  width: 95%;
  margin: 0 auto;
}

.btn {
  cursor: pointer;
  border: none;
  outline: none;
}

/* navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 10dvh;
}

.navbar .navbar__logo {
  font-weight: lighter;
  text-transform: lowercase;
}

.navbar .navbar__links {
  display: flex;
  gap: 2rem;
}

.navbar .btn__cta {
  color: #fff;
  background: var(--clr-cta-btn);
  padding: 1rem 2.75rem;
  border-radius: 3rem;
}
